<div class="col-6" id="NovaTarefa">
    <form id="formNovaTarefa" onsubmit="return processar('myTable')">
        <div class="form-group">
            <label for="inputTarefa">Tarefa</label>
            <input type="text" class="form-control" id="inputTarefa" placeholder="Tarefa">
        </div>
        <div class="form-group">
            <label for="inputPrazo">Prazo</label>
            <input type="text" class="form-control" id="inputPrazo" placeholder="mm/dd/yyyy">
        </div>
    </form>
    <a href="#tableTarefas" class="btn btn-outline-secondary">Cancelar</a>
    <button type="button" class="btn btn-outline-primary">Nova Tarefa</button>
</div>